git "git@github.com:whalerock/wconfig-apple.git" ~> 1.0.0
git "git@github.com:whalerock/WRIDeeplink-ios.git" ~> 1.0.0
git "git@github.com:Whalerock/WUtilities-apple.git" ~> 1.0.0
git "git@github.com:whalerock/wanalytics-apple.git" ~> 2.0.0
git "git@github.com:whalerock/wstorekit-apple.git" ~> 3.0.0
git "git@github.com:whalerock/wnetwork-apple.git" ~> 1.0.12
git "git@github.com:whalerock/wassetmanager-apple.git" ~> 1.0.3
#APNG Framework to replace
git "git@github.com:whalerock/WYYImage.git" "swift3"
